<div class="portlet fixed">
	<div class="portlet-header">
		<%= yield :header %>
	</div>
	<div class="portlet-content">
		<div id="content">
			<%= yield %>
		</div>
	</div>
	<div class="clear"></div>
</div>