<a href="javascript:void(0);" class="popup-link" rel="reset-password">Forgot Password?</a>

<div id="reset-password" class="radius-10">
	<%= form_tag(reset_password_path, :method => "get", :id => "reset_password") do %>
		<%= label_tag(:email, "Email Address:") %>
		<%= text_field_tag(:email) %>
		<%= submit_tag("Reset Password") %>
	<% end %>
</div>

<style>
	#reset-password { display:none; position:fixed; left:50%; top:250px; width:550px; margin-left:-325px; padding:50px; background:#bde; border:3px solid #1C8BAC; z-index:9999; }
</style>

<script>
	
	jQuery(document).ready(function() {
		
		jQuery(".popup-link").click(function()  {
			var el = jQuery("#"+jQuery(this).attr("rel"));
			el.expose({
				onBeforeLoad: function() {
					el.fadeIn();
				},
				onBeforeClose: function() {
					el.fadeOut();
				}
			});
		});
		
		jQuery("form#reset_password").submit(function() {
			var form = jQuery(this);
			// turn on spinner...
			jQuery.getJSON(jQuery(this).attr("action"), { email: jQuery(this).find("input#email").val() })
				.done(function(data) {
					// turn off spinner
					form.after("<p>" + data.html + "</p>");
				})
				.fail(function() {
					// turn off spinner
					form.after("<p>We're sorry, there was a problem accessing your account. Please try again later.</p>");
				});
			return false;
		});
		
	});
	
</script>