<ul>
  <li>
    <a href='/auth/facebook' class='auth_provider facebook'>
          <!--<span>{image_tag 'authbuttons/facebook_32.png', :size => '32x32', :alt => 'Facebook'} Login with Facebook</span>-->
      <span>Login with Facebook</span>
    </a>
  </li>
  <!--
  <li>
    <a href='/auth/twitter' class='auth_provider twitter'>
          #<span>#{image_tag 'authbuttons/twitter_32.png', :size => '32x32', :alt => 'Twitter'} Login with Twitter</span>
      <span>Login with Twitter</span>
    </a>
  </li>
  -->
</ul>