<% content_for :header do %>
	<h3>Edit Attribute</h3>
<% end %>

<%= render 'form' %>

<div class="actions">
	<%= link_to 'Show', @attribute, :class => "make-button" %>
	<%= link_to 'Back', attributes_path, :class => "make-button" %>
</div>
