<!DOCTYPE html>
<html>
<head>
	<title>DealMyLife.com Reset Password</title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="background:#bbddee url(<%= "http://" + @site + "/assets/theme/rays.png" %>) 50% 0 no-repeat;">
	<table cellspacing="0" border="0" height="100%" cellpadding="0" width="100%">
		<tr>
			<td valign="top">
				<table cellspacing="0" border="0" align="center" cellpadding="0" width="960px" height="100%">
					<tr>
						<td valign="top" style="text-align:center; font-family:Arial, Helvetica, sans-serif;font-size:14px; color:#1c8bac; line-height:18px;">
							<br />
							<img src="<%= 'http://' + @site + '/assets/theme/marquee.png' %>" alt="" width="920" height="297">
							<br /><br />