<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you <%= @user.profile.first_name %>,</h1>
    <p>
      Your password has been successfully reset.
      Your temporary password is: <%= @password %>.<br/>
    </p>
    <p>
      To login to the site, copy/paste your temporary password into the login page: <%= @url %>
    </p>
    <p>If you have any questions, please contact us!</p>
  </body>
</html>