<% content_for :header do %>
	<h3>Categories</h3>
<% end %>

<table id="categories">
	<thead>
		<tr>
			<th>Name</th>
			<th>Master Category</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => "category", :collection => @categories %>
	</tbody>
</table>

<div class="actions">
	<%= link_to "new category", new_category_path, :class => "make-button" %>
</div>